<p class="lead">To deploy your own Bothan to Heroku, fill out the form below and click 'Deploy'</p>
<%= @app %>
<form action="/deploy" method="post" id='deploy'>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Name of app" required>
    <small id="titleHelp" class="form-text text-muted">The title of your Bothan instance - i.e. 'My Awesome Metrics'</small>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" required>
    <div class="form-control-feedback"></div>
    <small id="nameHelp" class="form-text text-muted">The name of your app (lowercase letters, numbers and dashes only)</small>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" required>
    <small id="usernameHelp" class="form-text text-muted">The username for adding metrics and editing configuration</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" name="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password" required>
    <small id="passwordHelp" class="form-text text-muted">The password for adding metrics and editing configuration</small>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" aria-describedby="descriptionHelp" rows="3" required></textarea>
    <small id="descriptionHelp" class="form-text text-muted">The description shown on the homepage of your Bothan instance</small>
  </div>

  <div class="form-group">
    <label for="description">Publisher Name</label>
    <input type="text" name="publisherName" class="form-control" id="publisherName" aria-describedby="publisherNameHelp" placeholder="Publisher Name" required>
    <small id="publisherNameHelp" class="form-text text-muted">The name of the person or organisation publishing the data</small>
  </div>

  <div class="form-group">
    <label for="description">Publisher Website</label>
    <input type="text" name="publisherURL" class="form-control" id="publisherURL" aria-describedby="publisherURLHelp" placeholder="Publisher Website" required>
    <small id="publisherNameHelp" class="form-text text-muted">The website of the person or organisation publishing the data</small>
  </div>

  <fieldset class="form-group" aria-describedby="openDataHelp">
    <legend>Release your metrics as open data?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input openData" name="openData" value="yes">
        Yes
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input openData" name="openData" value="no">
        No
      </label>
    </div>
    <small id="openDataHelp" class="form-text text-muted">Choosing 'Yes' will allow you to specify a license to release your data under</small>
  </fieldset>

    <div id="licenseWrapper" hidden>
      <div class="form-group">
        <label for="license">License</label>
        <select class="form-control" id="license" name="license">
          <option value="CC-BY-4.0">Creative Commons Attribution 4.0</option>
          <option value="CC-BY-SA-4.0">Creative Commons Attribution Share-Alike 4.0</option>
          <option value="CC0-1.0">CC0 1.0</option>
          <option value="OGL-UK-3.0">Open Government Licence 3.0 (United Kingdom)</option>
          <option value="ODC-BY-1.0">Open Data Commons Attribution License 1.0</option>
          <option value="ODC-PDDL-1.0">Open Data Commons Public Domain Dedication and Licence 1.0</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="submit">
        Deploy
        <i class="fa fa-refresh fa-spin hidden" aria-hidden="true" id="loading"></i>
      </button>
    </div>

    <div class="alert alert-success" role="alert" id="success" hidden>
      <h4 class="alert-heading">Success!</h4>
      <p>Your Bothan has been sucessfully deployed!</p>
      <a href="#" id="viewApp" class="btn btn-secondary" target="_blank">View app <i class="fa fa-external-link" aria-hidden="true"></i>
</a>&nbsp;<a href="#" id="manageApp" class="btn btn-secondary" target="_blank">Manage app <i class="fa fa-cogs" aria-hidden="true"></i>
</a>
    </div>

    <div class="alert alert-danger" role="alert" id="error" hidden>
      <h4 class="alert-heading">Error!</h4>
      <p>Sorry, Heroku reported an error with your install - <code></code></p>
      <p>Tweaking the answers in your form may help</p>
    </div>

  </div>
</form>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  $('#deploy').submit(function(e) {
    e.preventDefault();
    $('#loading').removeClass('hidden')
    url = $(this).attr('action')
    $.post(url, $( this ).serialize()).done(function( data ) {
      Pusher.host = 'ws-eu.pusher.com';
      Pusher.sockjs_host = 'sockjs-eu.pusher.com';
      var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>');
      var channel = pusher.subscribe('app_status');
      channel.bind('success', function(data) {
        $('#loading').addClass('hidden')

        $('#success').attr('hidden', false)
        $('#viewApp').attr('href', data.url)
        $('#manageApp').attr('href', 'https://dashboard.heroku.com/apps/' + $('#name').val())
      });
      channel.bind('failed', function(data) {
        $('#loading').addClass('hidden')

        $('#error').attr('hidden', false)
        $('#error code').html(data.message)
      });
    });
  })

  $('#title').keyup(function() {
    title = $(this).val()
    slug = title.toLowerCase().replace(/[^\w ]+/g,"").replace(/ +/g,"-").replace(/^-+|-+$/,"")
    $('#name').val(slug)
    $('#name').trigger('keyup')
  })

  $('#name').keyup(function() {
    $input = $(this)
    slug = $input.val()
    if (slug.length > 0) {
        $.ajax({
            url: 'https://api.heroku.com/apps/'+slug,
            headers: 'application/vnd.heroku+json; version=3'
        })
          .always(function(data, textStatus) {
        if (data.status == 404) {
            console.log(slug)
          $input.parent('div').removeClass('has-danger')
          $input.parent('div').addClass('has-success')
          $input.removeClass('form-control-danger')
          $input.addClass('form-control-success')
          $input.parent('div').find('.form-control-feedback').html("Your Bothan instance will be hosted at https://" + slug + ".herokuapp.com")
          $('#submit').attr('disabled', false)
        } else {
            console.log(slug);
          $input.parent('div').removeClass('has-success')
          $input.parent('div').addClass('has-danger')
          $input.removeClass('form-control-success')
          $input.addClass('form-control-danger')
          $input.parent('div').find('.form-control-feedback').html("Application name <code>"+ slug +"</code> is not available.")
          $('#submit').attr('disabled', true)
        }
      })
    } else {
      $input.parent('div').removeClass('has-danger')
      $input.parent('div').removeClass('has-success')
      $input.removeClass('form-control-danger')
      $input.removeClass('form-control-success')
      $input.parent('div').find('.form-control-feedback').html('')
    }
  })

  $('.openData').change(function() {
    if ($(this).val() == 'yes') {
      $('#licenseWrapper').attr('hidden', false)
    } else {
      $('#licenseWrapper').attr('hidden', true)
    }
  })
</script>
